div(class ="sliderbar" id="sliderbar-id")
  .logo-area.text-center(:style="{'color':mycolor}") MoaazDs
  ul.links-area.list-unstyled
    li: a(href="homepage.html" class= pageTitle === 'Home Page'?'active':'') homepage
    li 
      a(href="#"  @click="showenone = !showenone") Forms 
      ul(class="child-links list-unstyled" :class="toBeShowenOne")
        li: a(href="#") Input
        li: a(href="#") Textarea  
        li: a(href="#") Checkbox 
        li: a(href="#") Radio
      i(class="fas fa-angle-down icon-side" )

    li 
      a(href="#"  @click="showentwo = !showentwo") Misc
      ul(class="child-links list-unstyled" :class="toBeShowenTwo")
        li: a(href="#") Loading
        li: a(href="#") Bredcrumbx 
      i(class="fas fa-angle-down icon-side")    

    li: a(href="charts.html" class= pageTitle === 'charts'?'active':'') charts 

