- var pageTitle = 'charts';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta    
    include pug/layout/links
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  body(:style="{'--main-color':mycolor}")
    #app 
      .page.home-page
        include pug/components/setting
        include pug/layout/sidebar 
        div(class ="content-area" id='allcontent-id')
          include pug/layout/header
          .container-fluid
            .content
              include pug/layout/pagehead  


  include pug/layout/scripts  