- var pageTitle = 'Home Page';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/links
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  body
    #app 
      .page.home-page
        include pug/layout/sidebar 
        div(class ="content-area" :class='allcontent')
          include pug/layout/header
          .container-fluid
            .content
              include pug/layout/pagehead
       


  include pug/layout/scripts 
            
    

