- var pageTitle = 'Home Page';
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" ,content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/links
  body
    #app
      .page.home-page
        include pug/layout/sidebar 
        div(class ="content-area" :class='allcontent')
          include pug/layout/header
          .content 
            h1 #{pageTitle}

  include pug/layout/scripts 
            
    

